name: apppresao
description: A new Flutter project.
publish_to: "none" # pode remover se for publicar no pub.dev
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Mantém o que já tinha
  intl: ^0.19.0
  provider: ^6.1.2
  crypto: ^3.0.3

  # NOVO: funciona em Android + Web
  hive: ^2.2.3
  hive_flutter: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
